mat-card {
  background: url("/assets/smoke_wrinkles_gray_light_blurred-637130.jpg!d");
  background-size: cover;
  min-width: 300px;
}

mat-card-subtitle {
  color: black;
  font-weight: lighter;
}

:host {
  display: flex;
  justify-content: center;
  margin: 100px 0;
}
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}

button {
  margin: 5px 0;
}
