
<mat-card class="abc">
  <mat-card-header>
    <mat-card-title>Welcome</mat-card-title>
    <mat-card-subtitle>Please Log In/ Sign Up</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="button">
      <button mat-raised-button routerLink="login">Log In</button>
      <button mat-raised-button routerLink="signup">Sign Up</button>
    </div>
  </mat-card-content>
</mat-card>
