<app-circle-preloader *ngIf="preload"></app-circle-preloader>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title *ngIf="_id; else addUserHeader">Edit user</mat-card-title>
    <ng-template #addUserHeader>
      <mat-card-title>Add user</mat-card-title>
    </ng-template>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="userForm">
      <mat-form-field matPrefix matSuffix class="example-full-width" appearance="standard">
        <mat-label>First Name</mat-label>
        <input required type="text" matInput formControlName="firstName" placeholder="Enter your first name">
        <mat-error *ngIf="userForm.invalid">{{getFirstNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field matPrefix matSuffix class="example-full-width" appearance="standard">
        <mat-label>Last Name</mat-label>
        <input required type="text" matInput formControlName="lastName" placeholder="Enter your last name">
        <mat-error *ngIf="userForm.invalid">{{getLastNameErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field matPrefix matSuffix class="example-full-width" appearance="standard">
        <mat-label>Age</mat-label>
        <input required type="number" matInput formControlName="age" placeholder="Enter your age">
        <mat-error *ngIf=" userForm.invalid">{{getAgeErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field matPrefix matSuffix class="example-full-width" appearance="standard">
        <mat-label>Email</mat-label>
        <input required type="text" matInput formControlName="email" placeholder="Enter your email">
        <mat-error *ngIf="userForm.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="_id; else addUserButton" mat-raised-button color="primary" [disabled]="!userForm.valid"
            (click)="editUser()">Edit
    </button>
    <ng-template #addUserButton>
      <button mat-raised-button color="primary" [disabled]="!userForm.valid" (click)="addUser()">Create</button>
    </ng-template>
  </mat-card-actions>
</mat-card>
