.example-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin: 5px 0;
}

.example-card {
  max-width: 400px;
  margin: 100px auto;
  background-color: #39a1b759;
}
