<app-query-preloader *ngIf="preload"></app-query-preloader>
<div class="logout">
  <button mat-raised-button (click)="logOut()" color="warn">Log Out</button>
</div>
<table mat-table #usersTable [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="_id">
    <th mat-header-cell *matHeaderCellDef> id</th>
    <td mat-cell *matCellDef="let element"> {{element._id}} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> firstName</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> age</th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="editButton">
    <th mat-header-cell *matHeaderCellDef> Edit User</th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="accent"
              routerLink="edit/{{element._id}}">Edit
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="deleteButton">
    <th mat-header-cell *matHeaderCellDef> Delete User</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-raised-button color="warn" (click)="deleteUser(element)">Delete
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-raised-button color="primary" routerLink="new">Add new User</button>
