<app-circle-preloader *ngIf="preload"></app-circle-preloader>
<mat-card>
  <mat-card-title>Log In</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <p>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input required type="text" matInput formControlName="login" placeholder="Enter your login">
          <mat-error *ngIf="loginForm.invalid">{{getLoginErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input required type="password" matInput placeholder="Enter your password" formControlName="password">
          <mat-error *ngIf="loginForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-button [disabled]="!loginForm.valid" (click)="logIn()">Log In</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
