<app-circle-preloader *ngIf="preload"></app-circle-preloader>
<mat-card>
  <mat-card-title>Sign Up</mat-card-title>
  <mat-card-content>
    <form [formGroup]="SignUpForm">
      <p>
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input required type="text" matInput formControlName="login" placeholder="Enter your login">
          <mat-error *ngIf="SignUpForm.invalid">{{getLoginErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Password</mat-label>
<!--          <input required type="password" (ngModelChange)="changePas()" matInput placeholder="Enter your password" formControlName="password">-->
          <input required type="password" matInput placeholder="Enter your password" formControlName="password">
          <mat-error *ngIf="SignUpForm.invalid">{{getPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Repeat password</mat-label>
<!--          <input required type="password" (ngModelChange)="comparePasswords()" matInput placeholder="Repeat your password" formControlName="repPassword">-->
          <input required type="password" matInput placeholder="Repeat your password" formControlName="repPassword">
          <mat-error *ngIf=SignUpForm.invalid>{{getRepPasswordErrorMessage()}}</mat-error>
        </mat-form-field>
      </p>
      <div class="button">
        <button type="submit" mat-button [disabled]="!SignUpForm.valid" (click)="signUp()" >Sign Up</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
